<div class="book-container grid">

    <div class="book-cell">
        <img src="/images/{{title}}.jpg" alt="εξώφυλλο του βιβλίου {{normal_titlos}}">
        <a href="/images/{{title}}.jpg" download=""><br><br>
            <button class="button1">Κατέβασε το εξώφυλλο του βιβλίου &nbsp;<i class="fa-solid fa-download"></i></button>
        </a>
    </div>
    <div class="book-cell">
        <h1>{{normal_titlos}}</h1>
        <ul>
            <li>
                <b>Συγγραφέας:</b>
                {{syggrafeas}}
            </li>
            <li>
                <b>Κατηγορία:</b>
                <a href="/">{{katigoria}}</a>
            </li>
            <li>
                <b>Έτος Έκδοσης:</b>
                {{etos_ekdosis}}
            </li>
            <li>
                <b>ISBN:</b>
                {{isbn}}
            </li>
            <li>
                <b>Σελίδες:</b>
                {{selides}}
            </li>
            <li>
                <b>Τιμή:</b>
                {{timi}}€
            </li>
            <li>
                <b>Γλώσσα:</b>
                {{glwssa}}
            </li>
        </ul>
        <button class="button1">Αγαπημένα &nbsp;<i class="fa-regular fa-heart"></i></button>
    </div>

</div>

<div class="spacing2" id="description">
    <h2>Περιγραφή</h2>
    <p>{{description}}</p>
</div>

<div class="spacing2">
    <h2 id="reviews">Κριτικές</h2>
</div>

<br><br><br>