<div class="book-container grid">

    <div class="book-cell">
        <img src="/images/{{title}}.jpg" alt="εξώφυλλο του βιβλίου {{normal_titlos}}">
        <a href="/images/{{title}}.jpg" download=""><br><br>
            <button class="button1">Κατέβασε το εξώφυλλο του βιβλίου &nbsp;<i class="fa-solid fa-download"></i></button>
        </a>
    </div>
    <div class="book-cell">
        <h1>{{normal_titlos}}</h1>
        <ul>
            <li>
                <b>Συγγραφέας:</b>
                {{syggrafeas}}
            </li>
            <li>
                <b>Κατηγορία:</b>
                <a href="/epistimonika-vivlia">Επιστημονικά βιβλία</a>
            </li>
            <li>
                <b>Έκδοση:</b>
                1η
            </li>
            <li>
                <b>Ημερομηνία Έκδοσης:</b>
                2020
            </li>
            <li>
                <b>ISBN:</b>
                9789603820239
            </li>
            <li>
                <b>Σελίδες:</b>
                {{selides}}
            </li>
            <li>
                <b>Τιμή:</b>
                20€
            </li>
            <!-- <li>Έκδοση: 1η</li>
                <li>Ημερομηνία έκδοσης</li>
                <li>ISBN </li>
                <li>Απόθεμα </li>
                <li>Περιγραφή </li>
                <li>Τιμή </li> -->
        </ul>
        <button class="button1">Αγαπημένα &nbsp;<i class="fa-regular fa-heart"></i></button>
    </div>

</div>

<div class="spacing2" id="description">
    <h2>Περιγραφή</h2>
    <p>Από τα αρχαιότατα χρόνια ο άνθρωπος έστρεφε το βλέμμα του προς τ’ άστρα, κατακλυσμένος από
        συναισθήματα δέους και απορίας: Tι ήταν άραγε αυτά τα μικροσκοπικά ουράνια φώτα που συντρόφευαν τις
        νύχτες μας; Τους τελευταίους αιώνες η ανθρωπότητα έχει σημειώσει τεράστια επιστημονική πρόοδο.
        Εξηγήσαμε τη φύση των αστέρων και κατανοήσαμε εις βάθος τις διεργασίες που συμβαίνουν στο εσωτερικό
        τους, ενώ τα διαστημόπλοιά μας ταξίδεψαν μέχρι τα πέρατα του ηλιακού μας συστήματος. Αλλά δεν
        σταματήσαμε εκεί. Έχουμε πλέον τη δυνατότητα μέσα από τις παρατηρήσεις μας να ταξιδεύουμε νοητά και
        να μελετάμε αντικείμενα που βρίσκονται δισεκατομμύρια έτη φωτός μακριά από εμάς, δισεκατομμύρια
        χρόνια στο παρελθόν. Το βιβλίο αυτό αποτελεί ένα μαγευτικό ταξίδι στον κόσμο της Αστροφυσικής και
        των εντυπωσιακότερων πτυχών της. Μέσα στις σελίδες του ξεδιπλώνονται οι εξωτικές συνθήκες των
        πλανητών του ηλιακού μας
        συστήματος, η προσπάθεια εύρεσης νέων «κόσμων», η επική ιστορία της γέννησης και του θανάτου των
        αστέρων, οι μυστηριώδεις μαύρες τρύπες και τα υπέρλαμπρα κβάζαρ, το παρελθόν και το μέλλον του
        Σύμπαντος, η αναζήτηση εξωγήινης ζωής και πολλά ακόμα συναρπαστικά κεφάλαια της Αστροφυσικής και της
        Αστρονομίας. Μέσα από απλές εξηγήσεις των φυσικών φαινομένων και πλούσια εικονογράφηση, ο αναγνώστης
        θα γνωρίσει τη γοητεία της διαστημικής εξερεύνησης και θα μπορέσει να κατανοήσει καλύτερα από ποτέ
        τη θέση του ανθρώπου μέσα στο Σύμπαν.</p>
</div>

<div class="spacing2">
    <h2 id="reviews">Κριτικές</h2>
</div>

<br><br><br>