<div class="personal-data">
    <fieldset>
    <h2>Προσωπικά στοιχεία</h2>
    <h3>Ονοματεπώνυμο</h3>
    <a>{{name}}</a>
    <h3>ΑΦΜ</h3>
    <a>{{afm}}</a>
    <h3>Ημερομηνία Γέννησης</h3>
    <a>{{birthdate}}</a>
    <h3>Τηλέφωνο</h3>
    <a>{{phone}}</a>
    <h3>Διεύθυνση</h3>
    <a>{{address}}</a>
    <h3>Πόλη</h3>
    <a>{{city}}</a>
    <h3>Email</h3>
    <a>{{email}}</a>
    <br><br>
    {{#unless admin}}
    <b>Σε περίπτωση λάθους παρακαλώ επικοινωνήστε μαζί μας</b>
    {{/unless}}
    <br><br>
    </fieldset>
   


<br><br><br>